/* Post_Club_Event CSS goes here */
    body {
      margin: 0;
      font-family: 'Poppins', sans-serif;
      background-color: #f4f4f4;
    }

    .container {
      max-width: 430px;
      margin: 30px auto;
      background: #fff;
      padding: 25px;
      border-radius: 15px;
      box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    }

    h2 {
      text-align: center;
      color: #d70000;
      font-weight: 800;
      font-size: 24px;
      margin-bottom: 20px;
    }

    h2 span{
      color: #0083C1;
    }

    label {
      font-weight: 500;
      margin-top: 12px;
      display: block;
      color: #333;
    }

    input, textarea, select {
      width: 100%;
      padding: 12px;
      margin-top: 5px;
      border: 1px solid #ccc;
      border-radius: 8px;
      box-sizing: border-box;
      font-family: inherit;
    }

    .btn {
      margin-top: 20px;
      width: 100%;
      padding: 14px;
      background-color: #0083C1;
      color: white;
      border: none;
      border-radius: 8px;
      font-size: 15px;
      cursor: pointer;
      font-weight: bold;
      transition: background 0.3s;
    }

    .btn:hover {
      background-color: #D10003;
    }

    .note {
      margin-top: 10px;
      font-size: 13px;
      color: #666;
      text-align: center;
    }